<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img [src]="product.image" class="card-img-top" />
        <div class="card-body">
          <h5
            class="card-title"
            [ngClass]="product.price > 20 ? 'myfont' : 'text-bg-info'"
          >
            {{ product.title }}
          </h5>
        </div>
        <!-- condtional rendering -->
        <p
          [ngStyle]="{
            color: product.category == 'jewelery' ? 'black' : 'white',
            'background-color': 'blue'
          }"
        >
          {{ product.description }}
        </p>
      </div>
    </div>
  </div>
