<div class="row row-cols-1 row-cols-md-3 g-4">
  @for (movie of allMovies; track movie.id) {
  <div class="col">
    <div class="card">
      <img [src]="'https://image.tmdb.org/t/p/original/'+movie.poster_path" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">
          {{ movie.title | uppercase }}
        </h5>
        <h6>{{movie.release_date | date:'short' }}</h6>
        <p></p>
      </div>
    </div>
  </div>
  }@empty {
  <h2>No movies Founded!</h2>
  }
</div>
